<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="AdministratorLoginID" value="admin"/>
    <add key="AdministratorPassword" value="123"/>

    <add key="Host" value="smtp.gmail.com"/>
    <add key="EnableSsl" value="true"/>
    <add key="UserName" value="YourEmailID@gmail.com"/>
    <add key="Password" value="YourPassword"/>
    <add key="Port" value="587"/>

  </appSettings>




  <connectionStrings>
    <add name="StefanConnection" connectionString="Data Source=STEFAN-IVAN-PC;Initial Catalog=ShopDB;Integrated Security = true" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
